<%- include('header')%>

<div class="container">
    <form action="/forget" method="post">
        <label for="forget">username</label>
        <input type="text" name="username" id="forget" >
        <input type="submit" class="btn btn-warning" name="username" id="" value="submit">
    </form>
</div>


<%- include('footer')%>