


<%- include('header')%>

<div class=" shashank"  >


      <div style="text-align: center;">
        <h1 class="b">Get Tired of Consuming knowled by book </h1>
      <br>
      <h2 class="a">want to learn more in less time</h2>
      <h3 class="a">then you are just one click away to dive in the ocean of knowled</h3>
      <br><br>
      <h1><a href="#explore" class="c" >EXPLORE MORE</a></h1>
      </div>
    
    
      <div style="text-align: center;">
        <button type="button" class="btn btn-warning bt-lg"><a href="/login" style="text-decoration: none; color: azure;">LOGIN</a></button>
        <button type="button" class="btn btn-warning bt-lg "><a href="/signup" style="text-decoration: none; color: azure;">SIGNup</a></button>
        
      </div>
    

  </div>


<div>
  <h1 style="font-size: 30px; text-align: center; margin-top: 2%;font-weight: bolder;">Why Choose Your Classes ?</h1>
</div>

<div class="22 container text-center" id="#" style="margin-top: 5%;">
  <div class="row cards">
    <div class="cards-section col-sm-12 col-md-4 col-lg-3 text-center" style="margin-top: 2%;">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/classes-icon.svg" alt="Study from India's Top" width="80" height="80" class="icon">
        <p><strong>Study from India's top <br>teachers for conceptual<br>understanding</strong></p>
    </div>

    <div class="cards-section col-sm-12 col-md-4 col-lg-3 text-center" style="margin-top: 2%;">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/self-paced-learning.svg" alt="Self-paced learning" width="80" height="80" class="icon">
        <p><strong>Self-paced learning<br>and revision on<br>Your App</strong></p>
    </div>

    <div class="cards-section col-sm-12 col-md-4 col-lg-3 text-center" style="margin-top: 2%;">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/weekday-icon.svg" alt="Classes as per" width="80" height="80" class="icon">
        <p><strong>Classes as per<br>time table to ensure<br>regular study</strong></p>
    </div>

    <div class="cards-section col-sm-12 col-md-4 col-lg-3 text-center"style="margin-top: 2%;">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/doubts-icon.svg" alt="Get doubts" width="80" height="80" class="icon">
        <p><strong>Get doubts <br>cleared instantly</strong></p>
    </div>

    
</div>
</div>

<div class="33 " style="margin-top: 5%;background-color: #fed8b1; overflow: hidden;">
<section class="section bg purple-bg feature-section" id="classes-features-section">
  <div class="container container-lg">
      <div class="row row-verticle-middle">
          <div id="interactive-online-home-tuitions" class="col-sm-12 col-md-6 col-lg-6"><img src="/images/bbbb_preview_rev_1.png" class="img-responsive" width="582" height="586" alt="Learn from top teachers"></div>
          <div class="col-sm-6 col-md-6 col-lg-6 text-centers" style="padding: 7%;">
              <h3 class="section-sub-title" style="text-align: center;">Interactive online classes by <br> India's top teachers </h3>
              <ul class="c-list">
                  <li>
                      <img src="https://cdn1.byjus.com/byjusweb/img/classes/batches.svg" alt="Weekday and weekend batches" width="30" height="30" class="img-responsive icon">
                      <h4 class="pointer-block-list-title"> Classes as per time-table </h4>
                      Weekday and weekend batches to <br> choose from
                  </li>
                  <li>
                      <img src="https://cdn1.byjus.com/byjusweb/img/classes/doubt-resolution.svg" alt="Instant doubt resolution" width="30" height="30" class="img-responsive icon">
                      <h4 class="pointer-block-list-title"> Instant doubt resolution </h4>
                      Get doubts solved immediately during <br> and after the class
                  </li>
                  <li>
                      <img src="https://cdn1.byjus.com/byjusweb/img/classes/extra-classes.svg" alt="Personalised extra classes" width="30" height="30" class="img-responsive icon">
                      <h4 class="pointer-block-list-title"> Personalised extra classes </h4>
                      Improve understanding of weak concepts <br> with additional support
                  </li>
                  <li>
                      <img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-tests.svg" alt="Monthly tests" width="30" height="28" class="img-responsive icon">
                      <h4 class="pointer-block-list-title"> Monthly tests </h4>
                      Get assessed regularly to perform <br> better
                  </li>
              </ul>
              <a class="btn b-btn blue-gradient book-free-demo-class-btn" href="javascript:void(0)" target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&amp;utm_medium=byjusclasses&amp;utm_campaign=byjusclassescta">Book a Free Class</a>
          </div>
      </div>
  </div>
</section>
</div>






  <%- include('footer')%>
  
