body {


  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
  text-align: center;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
 
}

.shashank{

  
  background-image:url(../assets/images/homepagebackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  display: inline-flexbox;
  color: bisque;
  overflow: visible ;
 

}



.pakhare{
  background-image:url(../assets/images/Affordable-Websites-for-Small-Businesses-Contact-Us-Background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
display: inline-flexbox;
}

.a{
  font-weight: bolder;
 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(23, 25, 26);
 text-align: center;
 text-shadow: 10px 10px 20px rgb(26, 25, 25);
 font-style: oblique ;
 text-decoration: none;
font-weight: bolder;
  color: rgb(248, 248, 248);
  opacity: 1;
}
.b{
  padding-top: 10%;
  color: rgb(17, 19, 20);
 text-align: center;
 text-shadow: 10px 10px 20px black;
 font-style: oblique ;
 text-decoration: none;
 color: rgb(241, 239, 236);
 opacity: 1;
}

.glow{s
  font-size: 40px;
  text-align: center;
  color: rgb(25, 70, 168);
  text-align: center;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
 

}

.glowing {
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-align: center;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
  
  
}
@-webkit-keyframes glowing{
  from {
    

       }

}

.sh{

  margin-top: 5%;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.navbar {
  overflow: hidden;
  
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


.r{
  font-weight: bolder;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: antiquewhite;
 text-align: center;
 text-shadow: black 50px;
 font-style: oblique ;
 text-decoration: none;
  text-shadow: 0 0 10
  px blanchedalmond ;
}

.c{
  font-weight: bolder;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(23, 25, 26);
 text-align: center;
 text-shadow: black 50px;
 font-style: oblique ;
 text-decoration: none;
  text-shadow: 0 0 10
  px blanchedalmond ;
  text-shadow:  0px 10px 20px black;
  color:white;
}

html{
  scroll-behavior: smooth;
}

.c:hover{
  text-decoration: none;
  color: bisque;
}

.asd{
  height: 50vh;
  width: 70vh;
}

#wave {
  position: relative;
  height: 10%;
  width: 600px;
  background: #e0efe3;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
}

.beach{

  background-color: EEB7F1;
}



.v1{
  height: 30vh;
  border-radius: 100%;
margin: 3%;
}

.v1:hover{
  
  border-radius: 0%;
  text-align: center;

}

.sas2{
  background-color:#fed8b1;
}


.upper_part{
  background-image: url(../images/back.png);

  
  height: 80vh;
  width: 100%;
  
}

.post_back{
  background-image: url(../assets/images/woman-books-reading.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  display: inline-flexbox;
  color: color;
  overflow: visible ;
  
}

.gll{
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4f00b6, 0 0 40px #17057c, 0 0 50px #29c2ff, 0 0 60px #96fbff, 0 0 70px #1f0352;
}

.pak{

  
  background-image:url(../assets/images/project.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  display: inline-flexbox;
  color: bisque;
  overflow: visible ;


}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
#video-grid {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}
video {
  display: block;
  flex: 1;
  object-fit: cover;
  border: 5px solid #000;
  max-width: 600px;
}
.main {
  height: 100%;
  display: flex;
}
.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.main__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}
.main__videos {
  flex-grow: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
}
.main__controls_block {
  display: flex;
}
.main__controls_button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  margin: 5px;
}
.main__controls_button span {
  margin-top: 10px;
  display: block;
}
.main__controls_button:hover {
  background-color: #34383b;
}
.main__controls_button i {
  font-size: 25px;
}
.leaveMeeting {
  background-color: red;
  color: #fff;
}
.main__header {
  color: #f5f5f5;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #3d3d42;
}
.main__chat__window {
  flex-grow: 1;
  overflow: auto;
  padding: 20px 20px 0 20px;
}
.main__message_container {
  padding: 22px 11px;
  display: flex;
}
.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  user-select: none;
  outline: none;
}

#all_messages li {
  color: #fff;
  list-style: none;
  border-bottom: 1px solid #3d3d42;
  padding: 10px 0;
}
.unmute {
  color: red;
}
